.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    color: white;
}

.logo-container {
    margin-bottom: 1rem;
}

.button-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.auth-button {
    background-color: white;
    color: #213547;
}

.subtitle {
    color: white;
    opacity: 0.9;
    /* Optional: slightly dimmed for hierarchy */
    margin-top: 0.5rem;
    font-size: 3rem;
    font-weight: normal;
}