.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

.logo-container {
    margin-bottom: 1rem;
}

.button-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.auth-button {
    background-color: white;
    color: #213547;
}